<div class="col s12 ">
  <div class="card z-depth-5">
    <div class="card-content black-text">
      <span class="card-title">Establecimiento</span>
      <app-establecimiento></app-establecimiento>
    </div>
  </div>
</div>

<div class="col s12 ">
  <div class="card z-depth-5">
    <div class="card-content black-text">
      <span class="card-title">Alumno</span>
      <app-alumno></app-alumno>
    </div>
  </div>
</div>

<div class="col s12 ">
  <div class="card z-depth-5">
    <div class="card-content black-text">
      <span class="card-title">Resultado</span>
      <app-resultado></app-resultado>
     
    </div>
  </div>
</div>

<a class="waves-effect waves-light btn-large"><i class="material-icons right">done_all</i>Guardar</a>