<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><i class="material-icons">thumb_up</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li> <a routerLink="/container">Registro</a></li>

      </ul>
    </div>
  </nav>
  <router-outlet>
  </router-outlet>
  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright LE-NA

      </div>
    </div>
  </footer>
</div>